@charset "UTF-8";

.example img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

button {
    background-color: #cda16f;
    font-weight: bold;
    font-size: large;
    padding-left: 5em;
    padding-right: 5em;
    width: 400px;
    height: 5em;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #fce2c4;
    text-align: center;
}

h1 {
    background-color: aliceblue;
    padding: 10px 0px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
}

p{
    line-height: 3;
}

.wrapper.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    max-width: 1200px;
    margin: 20px auto;
}

.item {
    border: none;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.item span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.item img {
    max-width: 100%; 
    height: auto;
    object-fit: contain; 
    margin: 0; 
    display: block;
}

@media (max-width: 768px) {
    .wrapper.grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .wrapper.grid {
        grid-template-columns: 1fr;
    }
}