@charset "UTF-8";

.example img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

button {
    background-color: #cda16f;
    font-weight: bold;
    font-size: large;
    padding-left: 5em;
    padding-right: 5em;
    width: 400px;
    height: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #fce2c4;
    text-align: center;
}

h1 {
    background-color: aliceblue;
    padding: 10px 0px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
}

p {
    line-height: 3;
}

.wrapper.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
    max-width: 1200px;
    margin: 20px auto;
}

.item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item span {
    display: block;
    font-weight: bold;
    font-size: 24px;
    padding: 0 20px;
    box-sizing: border-box;
    white-space: nowrap;
}


.item .text-top {
    margin-bottom: 10px;
    color: #000;
}

.item .text-bottom {
    margin-top: 10px;
    color: #ff0000 !important;
}

.item img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0;
    display: block;
    border: 2px solid #000;
    padding: 5px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .wrapper.grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .wrapper.grid {
        grid-template-columns: 1fr;
    }
}